@import url('https://fonts.googleapis.com/css?family=Roboto'); html, body {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #555;
}

article header {
    margin-bottom: 40px;
    color: #23282E;
    padding: 20px 0;
    width: 100%;
    border-bottom: 3px solid #337ab7;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

article header h1, article header h2 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: whitesmoke;
    outline: black;
}

article header h1 {
    font-weight: 700;
    font-size: 3em;
    font-family: 'rs';
}

article header h2 {
    font-weight: 600;
    font-size: 2em;
    font-family: 'rs';
}

article section {
    padding: 0px 10%;
}

section h1 {
    font-size: 2em;
    color: #1AC3CB;
}

section h2 {
    font-size: 1.8em;
    color: #1AC3CB;
}

section h3 {
    font-size: 1.4em;
    color: #1AC3CB;
}

section p {
    font-size: 1.2em;
    line-height: 30px;
}

div.hcont {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.dark-alert {
    background-color: #272727;
    color: #C5C5C5;
}

.dark-alert .close {
    text-shadow: 0 1px 0 #1F1F1F;
    color: #C5C5C5;
}

.form-group input {
    padding: 5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
}


.btn-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.btn-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.btn-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.btn-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.section-container {
    padding: 10px;
    max-width: 60%;
}

.form-group input {
    width: 60%;
}

.notify-container.top {
    top: 150px;;
}

.notify-container.right {
    right: 150px;
}
